@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'components/header';
@import 'components/footer';
@import 'filters/filter';
@import 'global';

.hero {
    position: relative;
    &__box {
        background-repeat: no-repeat;
        margin: 0 auto;
        background-position: center;
        min-height: 600px;
        height: 100%;
    }
    &__content{
        display: flex;
        flex-direction: column;
        min-height: 485px;
        justify-content: space-between;
    }
    &__about{
        background: rgba(255, 255, 255, 0.8);
        border-radius: 6px;
        padding: 24px;
        min-height: 236px;
        max-width: max-content;
        margin-top: 120px;
    }
    &__title {
        @extend %lato-700;
        font-size: 60px;
        line-height: 78px;
        text-transform: uppercase;
        color: $dark-500;
        margin-bottom: 8px;
    }
    &__sale {
        @extend %lato-700;
        font-size: 60px;
        line-height: 78px;
        text-transform: uppercase;
        color: $red-900;
    }
    &__text {
        @extend %lato-400;
        font-size: 16px;
        line-height: 22px;
        color: $dark-500;
    }
    &__link {
        max-width: 180px;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid $silver-600;
        padding: 14px 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 6px;
        cursor: pointer;
        transition: color 0.5s, background-color 0.5s, border 0.5s, box-shadow 0.5s;
        &:hover {
            background-color: $green-200;
            path {
                fill: $green-900;
            }
            border: 1px solid $green-900;
        }
        &:active {
            background-color: $green-200;
            path {
                fill: $green-900;
            }
            border: 1px solid $green-900;
        }
        &:focus {
            background-color: $green-200;
            path {
                fill: $green-900;
            }
            border: 1px solid $green-900;
            box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
        }
    }
    .slick-prev {
        left: 60px;
    }
    .slick-next {
        right: 60px;
    }
}

.benefits {
    background-color: #f6f6f6;
    padding: 50px 0;
    &__inner {
        display: flex;
        justify-content: center;
    }
    &__item {
        padding-left: 75px;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
    &__title {
        font-size: 16px;
        line-height: 22px;
        color: $dark-900;
        position: relative;
    }
    &__text {
        @extend %lato-400;
        color: $dark-500;
    }
    &__title--delivery::before,
    &__title--return::before,
    &__title--support::before {
        position: absolute;
        left: -75px;
        width: 50px;
        height: 50px;
    }
    &__title--delivery::before {
        content: url('../images/icons/moto.svg');
    }
    &__title--return::before {
        content: url('../images/icons/return.svg');
    }
    &__title--support::before {
        content: url('../images/icons/hours.svg');
    }
}

.product {
    padding: 72px 0 14px;
    text-align: center;
    &__title {
        margin-bottom: 30px;
        text-align: center;
    }
    &__filter {
        margin-bottom: 50px;
    }
    &__link {
        margin: 0 auto;
        font-size: 18px;
        line-height: 23px;
        @extend %lato-400;
        color: $green-900;
        padding: 12px 24px;
        background-color: $white;
        border: 1px solid $green-900;
        border-radius: 6px;
        transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
        &:hover {
            background-color: $green-100;
        }
        &:active {
            color: rgba(99, 166, 14, 0.5);
            box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.1);
        }
        &:focus {
            box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 28px;
        margin-left: -30px;
    }
    &__item {
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        max-width: calc(100% / 4 - 30px);
        margin: 0 0 30px 30px;
        min-height: 407px;
        height: 100%;
        transition: border 0.5s;
        &:hover {
            border: 1px solid $green-900;
        }
    }
}

.top-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 12px 18px 12px;
    height: 100%;
    min-height: 407px;
    &__box  {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__sale {
        padding: 3px 6px;
        border-radius: 6px;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.3px;
        color: $white;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        &--new {
            background-color: $green-900;
        }
        &--persent {
            max-width: 37px;
            background-color: $red-900;
        }
        &--hit {
            background-color: $orange-900;
        }
    }
    &__like {
        border: none;
        background-color: $white;
        :hover {
            path {
                fill: $yellow-900;
            }
        }
    }
    &__link {
        display: block;
        margin-bottom: 10px;
    }
    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__text{
        -webkit-line-clamp: 3;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }
    &__cart {
        border: none;
        background-color: $green-900;
        padding: 8px;
        line-height: 1;
        border-radius: 3px;
        transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
        &:hover {
            background-color: #4D800C;
        }
        &:active {
            color: rgba(255, 255, 255, 0.5);
        }
        &:focus {
            box-shadow: 0px 0px 0px 4px #E0EDCF;
        }
    }
    &__price {
        display: flex;
        align-items: end;
        line-height: 14px;
        color: $dark-500;
        letter-spacing: 0.3px;
        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &--old {
        position: relative;
        color: $silver-600;
        &::before {
            position: absolute;
            content: '';
            border-bottom: 1px solid $silver-600;
            width: 100%;
            height: 50%;
            left: 0;
            top: 0;
            transform: rotate(-14deg)
        }
    }
}

.offer {
    padding: 72px 0;
    &__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &__inner {
        padding: 72px 32px 80px;
        min-height: 300px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &:not(:last-child) {
            margin-right: 32px;
        }
        &:nth-child(1) {
            grid-column: span 2;
        }
    }
    &__text {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: $white;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    }
    &__title {
        @extend %lato-600;
        font-size: 30px;
        line-height: 32px;
        text-transform: uppercase;
        color: $white;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    }
    &__link {
        padding-bottom: 6px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: $white;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
        border-bottom: 2px solid $white;
        max-width: max-content;
    }
}

.stock {
    padding: 72px 0 84px;
    background-color: #f5f5f5;
    text-align: center;
    &__title {
        margin-bottom: 30px;
        text-align: center;
    }
    &__filter {
        margin-bottom: 50px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 25px;
        margin-left: -30px;
    }
    &__item {
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        max-width: calc(100% / 4 - 30px);
        margin: 0 0 30px 30px;
        transition: border 0.5s;
        &:hover {
            border: 1px solid $green-900;
        }
    }
}

.bottom-card {
    display: flex;
    justify-content: space-between;
    padding: 16px 14px 13px 12px;
    max-height: 124px;
    height: 100%;
    background-color: $white;
    &__info {
        padding: 3px 6px;
        border-radius: 6px;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.3px;
        color: $white;
        &--new {
            background-color: $green-900;
        }
        &--hit {
            background-color: $orange-900;
        }
    }
    &__images {
        min-width: 100px;
        width: 100%;
        max-height: 75px;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__item {
        text-align: left;
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: self-start;
        min-width: 162px;
    }
    &__text {
        -webkit-line-clamp: 3;
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden;
        width: 100%;
    }
    &__about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    &__status {
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.3px;
        color: $white;
        &--available {
            color: $green-900;
        }
        &--ends {
            color: $red-900;
        }
        &--no {
            color: $silver-600;
        }
    }
    &__grade {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__price {
        font-size: 20px;
        line-height: 20px;
        color: $dark-500;
        letter-spacing: 0.3px;
    }
    &__rating {
        display: flex;
        align-items: center;
    }
    &__number {
        margin-right: 3px;
    }
    &--old {
        position: relative;
        font-size: 12px;
        line-height: 12px;
        color: $silver-600;
        &::before {
            position: absolute;
            content: '';
            border-bottom: 1px solid $silver-600;
            width: 100%;
            height: 50%;
            left: 0;
            top: 0;
            transform: rotate(-14deg)
        }
    }
}

.clients {
    padding-top: 65px;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        opacity: 0.5;
        transition: opacity 0.5s;
        &:hover {
            opacity: 1;
        }
    } 
}

.news {
    padding: 72px 0;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    &__link {
        padding-bottom: 6px;
        @extend %lato-700;
        line-height: 14px;
        color: $green-900;
        border-bottom: 2px solid $green-900;
        text-transform: uppercase;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        max-width: 510px;
        width: 100%;
        min-height: 350px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:hover .news-hover {
            color: $green-900;
        }
    }
    &__data {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        position: absolute;
        width: 65px;
        height: 76px;
        top: 0;
        left: 20px;
        padding: 18px 6px 10px 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__month {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1px;
        color: $dark-900;
        text-transform: uppercase;
    }
    &__day {
        font-size: 30px;
        line-height: 30px;
        @extend %lato-600;
        color: $dark-900;
    }
    &__img {
        border-radius: 6px 6px 0 0;
    }
    &__text {
        padding: 18px;
        font-size: 18px;
        line-height: 25px;
        color: $dark-900;
        transition: color 0.5s;
        @extend %lato-600;
    }
}

    






@import 'media';